
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    /* background-color: #363550;
    background: linear-gradient(90deg, rgba(2,0,36,1) 6%, rgba(54,53,80,1) 42%, rgba(147,147,159,1) 95%, rgba(147,147,159,1) 100%); */
    background-image: url("firewatch.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.weather-icon-info {
    position: absolute;
    width: 15vw;
    height: 10vh;
    left: 8%;
    top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(226, 226, 226);
    opacity: 0;
    
}


.current-time-date {
    position: absolute;
    width: 20vw;
    height: 10vh;
    left: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(226, 226, 226);
}



.current-weather-details {
    color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0;
}

#city-name-title {
    position: absolute;
    width: 40vw;
    height: 5vh;
    font-size: 70px;
    top: 5%;
    left: 30%;
    text-align: center;
}

#current-temp {
    position: absolute;
    top: calc(20% + 0.05em);
    left: calc(50% - 0.2em);
    font-size: 40px;
}
#temp-high-low {
    position: absolute;
    top: 75%;
    left: calc(50% - 0.5em);
    font-size: 30px;
}

#weather-search-form {
    position: absolute;
    width: 40vw;
    height: 10vh;
    top: 50%;
    left: calc(50% - 15vw);
}
#city-name-box {
    position: relative;
    width: 30vw;
    height: 10vh;
    border-radius: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    padding: 10px;
    padding-left: 15px;
}
#city-name-box::placeholder {
    color: white;
}
#city-name-box:focus {
    outline-style: none;
    border-bottom-color: #4C7EFC;
    outline-width: thick;
}

#new-city-search-form {
    position: absolute;
    top: 70%;
    left: 70%;
}
#new-city-name-box {
    position: relative;
    width: 20vw;
    height: 10vh;
    border-radius: 3%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 2px solid white;
    padding: 10px;
    padding-left: 15px;
    opacity: 0;
}
#new-city-name-box::placeholder {
    color: white;
}
#new-city-name-box:focus {
    outline-style: none;
    border-bottom-color: #4C7EFC;
    outline-width: thick;
}

#city-button {
    position: absolute;
    background-color: #4C7EFC;
    color: white;
    width: 5vw;
    height: 10vh;
    border-radius: 20%;
    left: 65%;
    top: calc(50% - 3.5vh);
    border: 2px solid transparent;
    font-size: 35px;
}
#city-button:hover {
    background-color: #316af7;
}
#city-button:active, 
#city-button:focus {
    outline: none;
}

#error-message {
    position: absolute;
    top: 65%;
    left: 35%;
    color: #f14668;
    font-family: 'Roboto', sans-serif;
    text-decoration: bold;
    font-weight: 300;
    font-size: 15px;
}


#sun-information {
    position: absolute;
    left: 6%;
    top: 12%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(226, 226, 226);
    opacity: 0;
}

#five-day-forecast {
    position: absolute;
    width: 20vw;
    height: 60vh;
    border-radius: 2%;
    top: 100%;
    left: 5%;
    color: transparent;
    border: 2px solid rgb(226, 226, 226);
    color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

.day-forecast {
    width: 100%;
    height: 20%;
    padding-left: 5%;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    text-align: left;
}

.day-forecast span {
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
}


.weather-icon {
    position: relative;
    font-size: 25px;
}

.cloudy {
    background-color: rgba(203, 199, 199, 0.3);
}
.rainy {
    background-color: rgb(185, 224, 248, 0.3);
}
.sunny {
    background-color: rgba(248, 240, 185, 0.3);
}
.snowy {
    background-color: rgba(255, 255, 255, 0.2);
}
.error {
    border-bottom-color: red !important;
}

#forecast-button {
    width: 10vw;
    height: 5vh;
    font-size: 15px;
    position: fixed;
    top: 90%;
    left: 10%;
    background-color: #4C7EFC;
    border-radius: 5%;
    opacity: 1;
    border: 2px solid transparent;
    opacity: 0;
}
#forecast-button:hover {
    background-color: #316af7;
}
#forecast-button:active, 
#forecast-button:focus {
    outline: none;
}



.fade-out {
    animation: fadeout 1.5s ease-out forwards;
}

.fade-in {
    animation: fadein 1s linear forwards;
}

.slide-in {
    animation: slidein 2s linear forwards;
}

.slide-out {
    animation: slideout 2s linear forwards;
}


@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes fadeout {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

@keyframes slidein {
    0% { top: 100%; }
    50% { top: 50%; }
    100% { top: 25%; }
}

@keyframes slideout {
    0% { top: 25%; }
    50% { top: 50%; }
    100% { top: 100%; }
}



/* Media queries */

@media (max-width: 1050px) {
    #city-name-title {
        font-size: 50px;
        top: 10vh;
    }
    .weather-icon-info {
        left:5.5%;
    }
    #sun-information {
        left: 1%;
    }
    #forecast-button {
        height: 7.5vh;
    }
}

@media (max-width: 900px) {
    #city-name-title {
        font-size: 50px;
    }
    .weather-icon-info {
        left:5.5%;
        font-size: 15px;
    }
    #sun-information {
        left: 3%;
        font-size: 15px;
    }
    #city-button {
        width: 7.5vw;
        left: 85%;
    }
    #city-name-box {
        width: 40vw;

    }
    #weather-search-form {
        left: calc(50% - 20vw);
    }
}
@media (max-width: 768px) {
    #city-name-title {
        font-size: 40px;
        top: 10%;
    }
}

@media (max-width: 500px) {
    #city-name-title {
        width: 70vw;
        top: 13%;
        left: 16%;
        font-size: 40px;
    }
    .weather-icon-info {
        width: 30vw;
        left: 12%;
        top: -0.5vh;
    }
    #sun-information {
        left: 3%;
        top: 10%;
    }
    .current-time-date {
        font-size: 15px;
        width: 40vw;
        left: 60%;
    }
    #current-temp {
        top: calc(20% + 0.2em);
    }
    #city-name-box {
        width: 50vw;
    }
    #weather-search-form {
        left: calc(50% - 30vw);
    }
    #city-button {
        width: 7.5vw;
        left: 85%;
        background-color: transparent;
    }
}

@media (max-width: 400px) {
    #city-name-title {
        width: 70vw;
        top: 13%;
        left: 17%;
        font-size: 40px;
    }
    .weather-icon-info {
        width: 30vw;
        left: 12%;
        top: -0.5vh;
    }
    #sun-information {
        left: 3%;
        top: 9%;
    }
    .current-time-date {
        font-size: 15px;
        width: 40vw;
        left: 60%;
    }
    #current-temp {
        top: calc(20% + 0.2em);
    }
    #city-name-box {
        width: 50vw;
    }
    #weather-search-form {
        left: calc(50% - 30vw);
    }
    #city-button {
        width: 7.5vw;
        left: 85%;
        background-color: transparent;
    }
}
